<header id="header" class="site-header header-scrolled position-fixed text-black bg-light">
    <nav id="header-nav" class="navbar navbar-expand-lg px-3 mb-0">
        <div class="container-fluid d-flex justify-content-between align-items-center">
            <a class="navbar-brand" href="index.html">
                <img src="assets/images/glowilogo.png" class="logo" alt="Glowi Logo">
            </a>

            <form class="d-flex mx-3" (ngSubmit)="onSearch()" style="flex-grow: 1; justify-content: center;" *ngIf="!isMobile">
                <mat-form-field appearance="outline" style="flex-grow: 1; max-width: 600px;">
                    <mat-label>Search</mat-label>
                    <input matInput type="text" placeholder="Search for a product..." [(ngModel)]="searchQuery" name="search">
                    <button mat-icon-button matSuffix type="submit" aria-label="Search">
                        <mat-icon>search</mat-icon>
                    </button>
                </mat-form-field>
            </form>

            <div class="d-flex align-items-center justify-content-end">
                <button mat-icon-button aria-label="Profile" [matMenuTriggerFor]="profileMenu" class="icon-button">
                    <mat-icon>account_circle</mat-icon>
                </button>
                <mat-menu #profileMenu="matMenu" class="simple-menu">
                    <button mat-menu-item routerLink="/signup" routerLinkActive="active">Register</button>
                    <button mat-menu-item routerLink="/login" routerLinkActive="active">Login</button>
                </mat-menu>
                <button mat-icon-button aria-label="Favorites" routerLink="/favorites" class="icon-button">
                    <mat-icon>favorite</mat-icon>
                </button>
                <button mat-icon-button aria-label="Cart" routerLink="/cart" class="icon-button">
                    <mat-icon>shopping_cart</mat-icon>
                </button>
            </div>
        </div>
    </nav>
</header>



<app-navbar></app-navbar>