#header {
    padding: 0; 
    width: 100%; 
    z-index: 100; 
    position: fixed;
    top: 0;
    left: 0;
}
#header-nav {
    padding: 0; 
    height: 65px; 
}

#header-nav .container-fluid {
    display: flex;
    align-items: center;
    /* height: 100%;  */
}

.navbar-brand {
    margin: 0;
}

.logo {
    width: 100px; 
    height: auto; 
}


form.d-flex {
    justify-content: center; 
    flex-grow: 0; 
    margin-top: 10px; 
    padding-top: 10px;
}

.mat-form-field-infix {
    padding: 0; 
}

.mat-input-element {
    height: auto; 
    font-size: 10px; 
    border: 1px solid black;

}

.mat-icon-button.mat-button-base {
    height: auto; 
    width: auto; 
    margin-left: 0; 
}

.icon-button {
    margin-left: 0; 
    padding: 0; 
}

.d-flex.justify-content-end {
    gap: 0; 
}

.mat-icon {
    font-size: 25px;
}

.search-field {
    border: none; 
}

.search-field .mat-form-field-outline {
    display: none; 
}

/*  */
.mat-menu-item {
    font-size: 14px;
    padding: 10px 20px;
    transition: background-color 0.2s;
}

.mat-menu-item:hover {
    background-color: #f0f0f0; 
    box-shadow: none;
}

@media (min-width: 992px) {
    #header-nav {
        padding: 0;
        height: 65px;
    }

    form.d-flex {
        margin-top: 10px; 
    }
}

@media (max-width: 991px) {
    #header, #header-nav, form.d-flex {
        margin-top: 0; 
        padding-top: 0;
    }
}