<div class="image-uploader-container">
  <div class="main-image-container">
    <img [src]="mainImagePreview" alt="Main Image" class="main-image" />
  </div>

  <div class="thumbnail-container">
    <div class="thumbnail-wrapper" *ngFor="let file of selectedFiles; let i = index">
      <input type="file" id="fileInput-{{i}}" (change)="onFileSelected($event, i)" style="display: none;" />
      <div (click)="imagePreviews[i] ? setMainImage(i) : triggerFileInput(i)" class="add-image-square">
        <img *ngIf="imagePreviews[i]" [src]="imagePreviews[i]" alt="Image Preview" class="thumbnail" />
        <span *ngIf="!imagePreviews[i]">+</span>
      </div>

      <!-- Bouton Remove pour le composant post-product -->
      <button *ngIf="imagePreviews[i] && !showUpdateButton" mat-icon-button (click)="removeImage(i)">
        <mat-icon>delete</mat-icon>
      </button>

      <!-- Bouton Update pour le composant update-product -->
      <button *ngIf="imagePreviews[i] && showUpdateButton" mat-icon-button (click)="updateImage(i)" style="font-size: 16px;">
        <mat-icon style="font-size: 18px;">edit</mat-icon> <!-- Icone de stylo pour mise à jour -->
      </button>
    </div>
  </div>
</div>
