.cart-wrapper {
    display: flex; 
}

.cart-container {
    max-width: 800px; 
    flex: 0 0 65%; 
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.cart-title {
    font-family: 'Neue Hass Grotesk Display Pro Medium', sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #333;
}

.cart-item {
    display: flex;
    border-bottom: 1px solid #eee;
    padding: 15px 0;
}

.product_info {
    display: flex;
    width: 100%;
}

.product-image img {
    width: 100px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.product-details {
    flex: 1;
    padding-left: 15px;
}

.item-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-name {
    font-size: 13px; 
    color: #555;
    font-family: 'Neue Hass Grotesk Display Pro Medium', sans-serif; 
    word-wrap: break-word; 
    max-width: 150px; 
    flex-grow: 1;
}

.highlight {
    color: #ff5722; 
    font-weight: bold;
}

.price-container {
    display: flex; 
    flex-direction: column; 
    margin-top: 5px; 
}

.item-price {
    font-size: 13px; 
    color: #333;
    font-weight: bold;
    font-family: 'Neue Hass Grotesk Display Pro Medium', sans-serif; 
    display: block; 
}

.quantity-controls {
    display: flex;
    align-items: center;
}

.quantity {
    margin: 0 10px;
    font-size: 16px;
}

.total-price {
    font-family: 'Neue Hass Grotesk Display Pro Medium', sans-serif;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    font-weight: bold;
    padding: 5px 0;
}

.cart-summary {
    border-top: 1px solid #eee; 
    flex-grow: 1; 
    padding: 20px; 
    background-color: #f8f6f6; 
    border-radius: 8px; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
}

.order-summary-title {
    font-family: 'Neue Hass Grotesk Display Pro Semibold', sans-serif;
    font-size: 14px;
    line-height: 19px;
    text-decoration: none solid rgb(18, 18,18);
    text-transform: uppercase;
    word-spacing: 0;
    font-weight: bold;
}

.total-price:first-of-type {
    border-top: 1px solid #cfcfcf; 
    padding-top: 10px; 
}

.total-price {
    font-family: 'Neue Hass Grotesk Display Pro Medium', sans-serif;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    padding: 5px 0;
    color: rgb(70, 70, 70);
}


.actions {
    display: flex;
    justify-content: right;
    margin-top: 15px;
  }

  .place-order-btn{
    background-color: #000000; 
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-family: "Neue Haas Grotesk Display Pro Medium";

  }
  
  .place-order-btn:hover {
    background-color: #c7c7c7; 
    color: #000000;

  }

.emptyCart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    font-size: 18px;
    color: #888;
}

.icon {
    font-size: 48px;
    color: #ff5722; 
}


@media (max-width: 600px) {
    .cart-item {
        flex-direction: column;
    }

    .item-row {
        flex-direction: column;
        align-items: flex-start;
    }

    .price-container {
        justify-content: space-between; 
        width: 100%; 
    }

    .quantity-controls {
        justify-content: flex-end; 
        width: auto; 
    }
}