<div *ngIf="cartItems.length > 0; else emptyCart">
    <div class="cart-wrapper"> <!-- Nouveau conteneur pour flexbox -->
        <div class="cart-container">
            <h2 class="cart-title">Your Shopping Cart</h2>
            <div class="cart-item" *ngFor="let item of cartItems">
                <div class="product_info">
                    <div class="product-image">
                        <img [src]="currentImageUrl(item)" alt="{{item.productName}}"
                             *ngIf="currentImageUrl(item); else noImage">
                    </div>
                    <ng-template #noImage>
                        <img src="default-image-url.jpg" alt="Default Image">
                    </ng-template>

                    <div class="product-details">
                        <div class="item-row">
                            <div class="item-name" [ngClass]="{ 'highlight': item.highlight }">
                                {{item.productName}}
                            </div>

                            <div class="price-container">
                                <div class="item-price">{{item.price}}Dt</div>
                            </div>

                            <div class="quantity-controls">
                                <button mat-icon-button [disabled]="item.quantity == 1" >
                                    <mat-icon>remove_circle_outline</mat-icon>
                                </button>
                                <span class="quantity">{{item.quantity}}</span>
                                <button mat-icon-button type="button" (click)="increaseQuantity(item.productId)">
                                    <mat-icon>add_circle_outline</mat-icon>
                                </button>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="cart-summary">
            <span class="order-summary-title">ORODER SUMMARY</span>
            <div class="total-price">
                <span>Total Amount</span>
                <span>{{order.totalAmount}} Dt</span>
            </div>
            <div class="total-price">
                <span>Amount</span>
                <span>{{order.amount}} Dt</span>
            </div>
            <div class="total-price" *ngIf="order.couponName != null">
                <span>Coupon Applied: {{order.couponName}}</span>
            </div>

            <div class="container" *ngIf="order.couponName == null">
                <form [formGroup]="couponFrom" (ngSubmit)="applyCoupon()">
                    <mat-form-field appearance="outline" class="form-field">
                        <mat-label>Code</mat-label>
                        <input matInput type="text" placeholder="Code" formControlName="code" />
                        <mat-error *ngIf="couponFrom.get('code')?.hasError('required')">This input is required!</mat-error>
                    </mat-form-field>
        
                    <button mat-raised-button type="submit" class="submit-btn">Apply Coupon</button>
                </form>
            </div>

            <div class="actions">
                <button mat-raised-button class="place-order-btn">Place Order</button>
            </div>


        </div>
    </div>


</div>

<ng-template #emptyCart>
    <div class="emptyCart">
        <mat-icon class="icon">remove_shopping_cart</mat-icon>
        <span>Nothing to see here.</span>
    </div>
</ng-template>
