.post-product-container {
  display: flex;
  justify-content: space-between;
  margin-top: 140px;
}

.image-uploader-section {
  width: 25%;
  padding: 20px;
  background-color: #f7f7f7;
  height: auto;
}

.form-section {
  width: 70%;
}

h2 {
  font-family: 'Neue Haas Grotesk Display Pro Semibold', sans-serif;
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px;
  color: #121212;
  letter-spacing: 0.36px;
  font-weight: 600;
}


mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

button {
  width: 100%;
}

@media (max-width: 768px) {
  .post-product-container {
    flex-direction: column; 
  }

  .image-uploader-section, 
  .form-section {
    width: 100%; 
    padding: 0 10px; 
    box-sizing: border-box; 
  
  }
}