@import url('https://fonts.googleapis.com/css2?family=Neue+Hass+Grotesk+Display+Pro:400&display=swap');

#navbar {
    font-family: 'Neue Hass Grotesk Display Pro Medium', sans-serif;
    width: 100%;
    top: 65px; 
    font-size: 13px;
}

.site-header {
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.container-fluid {
    text-align: center; 
}

.navbar-nav {
    display: inline; 
    padding: 0; 
    margin: 0; 
    list-style: none; 
}

.navbar-nav .nav-item {
    display: inline-block;
    margin: 0 20px; 
}

.navbar-toggler .navbar-icon {
    position: relative; 
    left: 0; 
}

@media (max-width: 992px) {
    .offcanvas-body {
        display: block; 
        text-align: center; 
    }

    .navbar-nav {
        display: block; 
        width: 100%;
    }

    .navbar-nav .nav-item {
        display: block; 
        margin: 10px 0; 
    }
}
