html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#footer, #footer-bottom {
    width: 100%;
    background-color: #F9F9F9;
}

.footer-menu img{
    display: block;
    width: 150px; 
    height: auto;
}