<!-- <section id="subscribe" class="container-grid padding-large position-relative overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="subscribe-content bg-dark d-flex flex-wrap justify-content-center align-items-center padding-medium">
                <div class="col-md-6 col-sm-12">
                    <div class="display-header pe-3">
                        <h2 class="display-7 text-uppercase text-light">Subscribe Us Now</h2>
                        <p>Get latest news, updates and deals directly mailed to your inbox.</p>
                    </div>
                </div>
                <div class="col-md-5 col-sm-12">
                    <form class="subscription-form validate">
                        <div class="input-group flex-wrap">
                            <input class="form-control btn-rounded-none" type="email" name="EMAIL"
                                placeholder="Your email address here" required="">
                            <button class="btn btn-medium btn-primary text-uppercase btn-rounded-none" type="submit"
                                name="subscribe">Subscribe</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- <section id="instagram" class="padding-large overflow-hidden no-padding-top">
    <div class="container">
        <div class="row">
            <div class="display-header text-uppercase text-dark text-center pb-3">
                <h2 class="display-7">Shop Our Insta</h2>
            </div>
            <div class="d-flex flex-wrap">
                <figure class="instagram-item pe-2">
                    <a href="https://templatesjungle.com/" class="image-link position-relative">
                        <img src="assets/images/insta-item1.jpg" alt="instagram" class="insta-image">
                        <div class="icon-overlay position-absolute d-flex justify-content-center">
                            <mat-icon>instagram</mat-icon>
                        </div>
                    </a>
                </figure>
                <figure class="instagram-item pe-2">
                    <a href="https://templatesjungle.com/" class="image-link position-relative">
                        <img src="assets/images/insta-item2.jpg" alt="instagram" class="insta-image">
                        <div class="icon-overlay position-absolute d-flex justify-content-center">
                            <mat-icon>instagram</mat-icon>
                        </div>
                    </a>
                </figure>
                <figure class="instagram-item pe-2">
                    <a href="https://templatesjungle.com/" class="image-link position-relative">
                        <img src="assets/images/insta-item3.jpg" alt="instagram" class="insta-image">
                        <div class="icon-overlay position-absolute d-flex justify-content-center">
                            <mat-icon>instagram</mat-icon>
                        </div>
                    </a>
                </figure>
                <figure class="instagram-item pe-2">
                    <a href="https://templatesjungle.com/" class="image-link position-relative">
                        <img src="assets/images/insta-item4.jpg" alt="instagram" class="insta-image">
                        <div class="icon-overlay position-absolute d-flex justify-content-center">
                            <mat-icon>instagram</mat-icon>
                        </div>
                    </a>
                </figure>
                <figure class="instagram-item pe-2">
                    <a href="https://templatesjungle.com/" class="image-link position-relative">
                        <img src="assets/images/insta-item5.jpg" alt="instagram" class="insta-image">
                        <div class="icon-overlay position-absolute d-flex justify-content-center">
                            <mat-icon>instagram</mat-icon>
                        </div>
                    </a>
                </figure>
            </div>
        </div>
    </div>
</section> -->
<footer id="footer" class="overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="footer-top-area">
                <div class="row d-flex flex-wrap justify-content-between">
                    <div class="col-lg-3 col-sm-6 pb-3">
                        <div class="footer-menu">
                            <img src="assets/images/glowilogo.png" alt="logo">
                            <p>Glowi, is a sleek e-commerce platform offering curated products and a seamless, secure shopping experience.</p>
                            <div class="social-links">
                                <ul class="d-flex list-unstyled">
                                    <li>
                                        <a href="#">
                                            <mat-icon>facebook</mat-icon>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <mat-icon>instagram</mat-icon>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <mat-icon>twitter</mat-icon>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <mat-icon>linkedin</mat-icon>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <mat-icon>youtube</mat-icon>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-6 pb-3">
                        <div class="footer-menu text-uppercase">
                          <h5 class="widget-title pb-2">Quick Links</h5>
                          <ul class="menu-list list-unstyled text-uppercase">
                            <li class="menu-item pb-2" *ngFor="let link of quickLinks">
                              <a [routerLink]="link.path" (click)="scrollToTop()">{{ link.name }}</a>
                            </li>
                            <li class="menu-item pb-2" *ngFor="let category of categories | slice:0:4">
                              <a [routerLink]="['/category', category.id]" (click)="scrollToTop()">{{ category.name }}</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    <div class="col-lg-3 col-sm-6 pb-3">
                        <div class="footer-menu text-uppercase">
                            <h5 class="widget-title pb-2">Help & Info Help</h5>
                            <ul class="menu-list list-unstyled">
                                <li class="menu-item pb-2">
                                    <a href="#">Track Your Order</a>
                                </li>
                                <li class="menu-item pb-2">
                                    <a href="#">Returns Policies</a>
                                </li>
                                <li class="menu-item pb-2">
                                    <a href="#">Shipping + Delivery</a>
                                </li>
                                <li class="menu-item pb-2">
                                    <a href="#">Contact Us</a>
                                </li>
                                <li class="menu-item pb-2">
                                    <a href="#">FAQs</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 pb-3">
                        <div class="footer-menu contact-item">
                            <h5 class="widget-title text-uppercase pb-2">Contact Us</h5>
                            <p>Do you have any queries or suggestions? <a href="mailto:yourinfo@gmail.com"></a>
                            </p>
                            <p>If you need support? Just give us a call. <a href="">+55 111 222 333 44</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
</footer>
<div id="footer-bottom">
    <div class="container">
        <div class="row d-flex flex-wrap justify-content-between">
            <div>
                <div class="copyright">
                    <p>© Copyright 2024 Glowi.</p>
                </div>
            </div>
        </div>
    </div>
</div>
