<div class="container">
  <mat-grid-list cols="4" rowHeight="1:1" gutterSize="10px">
    <mat-grid-tile *ngFor="let product of products" class="product-tile">
      <mat-card class="product-card">

        <!-- Conteneur de l'image principale -->
        <div class="product-image-container" (mouseenter)="startImageRotation(product)"
          (mouseleave)="stopImageRotation()">
          <img mat-card-image [src]="currentImageUrl(product)" alt="Image produit">
        </div>

        <!-- Conteneur des détails du produit -->
        <div class="product-details-container">
          <mat-card-header>
            <mat-card-title class="product-title">{{ product.name }}</mat-card-title>
            <mat-card-subtitle>{{ product.description }}</mat-card-subtitle>

          </mat-card-header>

          <mat-card-content class="product-info">
            <p><strong>Price:</strong> {{ product.price }}Dt</p>
            <p><strong>Quantity:</strong> {{ product.quantity }}</p>
            <p><strong>Colors:</strong></p>
            <div *ngIf="product.colors && product.colors.length > 0" class="color-list">
              <span *ngFor="let color of product.colors" [ngStyle]="{'background-color': color}"
                class="color-circle"></span>
            </div>
          </mat-card-content>
        </div>

      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
