<!-- dashboard.component.html -->
<div class="dashboard-container">
  <div class="product-card" *ngFor="let product of products">
    <h3>{{ product.name }}</h3>
    <p>{{ product.description }}</p>
    <p>Price: {{ product.price | currency }}</p>
    <p>Quantity: {{ product.quantity }}</p>

    <div *ngIf="product.imageUrls && product.imageUrls.length > 0">
      <div *ngFor="let imageUrl of product.imageUrls">
        <img [src]="imageUrl" alt="Image produit" style="max-width: 200px; margin: 5px;" />
      </div>
    </div>
    <div *ngIf="product.imageUrls.length === 0">
      <p>Aucune image disponible</p>
    </div>

  </div>
   
</div>
