<div class="container">
  <h2>Edit Category</h2>

  <form [formGroup]="categoryForm" (ngSubmit)="onSave()">
      <mat-form-field appearance="outline" class="form-field">
          <mat-label>Name</mat-label>
          <input matInput type="text" placeholder="Name" formControlName="name">
          <mat-error *ngIf="categoryForm.get('name')?.hasError('required')">This input is required!</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
          <mat-label>Description</mat-label>
          <textarea matInput placeholder="Description" formControlName="description"></textarea>
          <mat-error *ngIf="categoryForm.get('description')?.hasError('required')">This input is required!</mat-error>
      </mat-form-field>

      <button mat-raised-button class="submit-button" [ngClass]="{ 'enabled': categoryForm.valid }" [disabled]="!categoryForm.valid" type="submit">
          Save Changes
      </button>
  </form>
</div>
