
.signup-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%; 
}

mat-card {
    width: 100%;
    max-width: 400px; 
    margin: 150px; 
}

mat-form-field {
    width: 100%; 
    margin-bottom: 16px; 
}

button {
    margin: 2%;
    padding: 5px;
    float: right;
}

@media (max-width: 600px) {
    mat-card {
        width: 90%; 
    }
}
