mat-card-header {
    position: relative;
}

.status-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e2e6ea;
    color: #495057;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    position: absolute;
    top: -40px;
    left: 0;
}

.title {
    font-family: "Neue Haas Grotesk Display Pro Medium", sans-serif; 
    font-size: 20px; 
    color: #343a40; 
    position: absolute;
    top: -20px;
    left: 40px;
    font-weight: bold; 
}

.analytics-container {
    display: flex;
    justify-content: center; 
    gap: 0; 
}

.analytics-card {
    width: 500px; 
    background-color: #f8f9fa; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
    padding: 20px;
    margin: 0 20px;
}

.analytics-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.metrics-container {
    display: flex; 
    justify-content: space-between; 
    margin-top: 16px; 
    flex-direction: column; 
}

.metric-column {
    flex: 1; 
    text-align: left; 
    margin: 8px 0; 
}

.metric-value {
    font-size: 1.2rem;
    font-weight: bold;
    color: #007bff;
}

.metric-subtext {
    font-size: 0.8rem;
    color: #6c757d; 
}

/* Ajustements pour la responsivité */
@media (max-width: 768px) {
    .analytics-container {
        flex-direction: column;
        align-items: center;
        margin: 20px 0;
    }

    .analytics-card {
        width: 90%;
        margin: 10px 0;
    }

    .metric-column {
        text-align: center;
    }
}

@media (max-width: 480px) {
    .status-avatar {
        width: 40px;
        height: 40px;
        font-size: 1.2rem;
    }

    .title {
        font-size: 18px;
    }

    .metric-value {
        font-size: 1.3rem;
    }
}
