<div>
    <app-order-by-status [data]="data"></app-order-by-status>
</div>

<div class="analytics-container">
    <mat-card class="analytics-card">
        <mat-card-header>
            <div mat-card-avatar class="status-avatar">O</div>
            <mat-card-title class="title">Order</mat-card-title>
        </mat-card-header>
        <div class="metrics-container">
            <div class="metric-column">
                <div class="metric-value">{{ data.currentMonthOrders }}</div>
                <div class="metric-subtext current-month">
                    <span class="badge current">Current Month</span>
                </div>
            </div>
            <div class="metric-column previous-month">
                <div class="metric-value">{{ data.previousMonthOrders }}</div>
                <div class="metric-subtext previous">
                    <span class="badge previous">Previous Month</span>
                </div>
            </div>
        </div>
    </mat-card>

    <mat-card class="analytics-card">
        <mat-card-header>
            <div mat-card-avatar class="status-avatar">E</div>
            <mat-card-title class="title">Earning</mat-card-title>
        </mat-card-header>
        <div class="metrics-container">
            <div class="metric-column">
                <div class="metric-value">{{ data.currentMonthEarnings }} DT</div>
                <div class="metric-subtext current-month">
                    <span class="badge current">Current Month</span>
                </div>
            </div>
            <div class="metric-column previous-month">
                <div class="metric-value">{{ data.previousMonthEarnings }}</div>
                <div class="metric-subtext previous">
                    <span class="badge previous">Previous Month</span>
                </div>
            </div>
        </div>
    </mat-card>
</div>
